/* base */
html {
  background-color: $white;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: $base-line-height;
}

body {
  color: #72797e;
  margin: 0;
  padding: 0;
}
