/* FORMS */

.search {
  display: flex;
  flex-direction: row;
} 

.search-block {
  display: flex;
  flex-direction: row;
  flex: 1 0 10em;
  margin-left: 1em;
}

form .search-block {
  margin-bottom: -8px;
  margin-left: 0;
}

.search-input {
  flex: 1 0 10em;
  padding: 1em;
  font-size: 1.6rem;
  border-right-width: 0;
  border: 1px solid $gray-4;
  box-shadow: 2px 2px $gray-5;
  border-color: $blue;
}

search-label{
  display: inline-block;
  cursor: pointer;
  margin: 0 0 .5em;
}

.global-header form {
  box-shadow: none;
}

.input {
  font-size: 1.5rem;
  color: $gray-1;
  border-color: 1px solid $gray-1;
  flex: 1 0 10em;
  padding: 0.5em;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

.text-input {
  flex: 1 0 10em;
  padding: 0.5em;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

form a {
  text-decoration: none;
  color: $blue;
}

@include phone {
  form .search-block{
    margin-left: 0;
  }
  .search-input{
    font-size: 1.1rem;
    margin-left: -8px;
  }
  .input{
    flex: 1 0 2em;
  }
}