/* header */

/* for not to use in the other part's content-wrappers */
.global-header .content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
  margin-top: 0.5em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  
          align-items: center;
}

@include tablet {
  .global-header .content-wrapper {
    margin: 0 auto;
  }
}

.global-header {
  margin: 0 0 9.6rem 0;
  border-bottom: 1px solid #afbac4;
  align-items: center;
  flex-wrap: wrap;
}

@include phone {
  .global-header {
    margin-bottom: ($pulse * 3);
  }
}
