/* list edit */

/*list-style: decimal-leading-zero; include
list-style-position: outside. Because of that I didn't use
list-style-position: inside in here. I had to use after
decimal-leading-zero*/
ol {
  padding: 0 1.5em;
  font-style: normal;
}

/*for first list of the page / blue list*/
.masthead ol {
  color: $blue;
  font-size: $pulse;
  list-style-position: inside;
  padding-left: 0;
}

main ol {
  display: flex;
  color: $black;
  font-size: 2.6em;
  list-style: decimal-leading-zero; /*for showing like 01, 02, 03, etc.*/
  list-style-position: inside; /*make them align in the same vertical line*/
  padding: 0; /*for make them in the same vertical line*/
  flex-flow: column;
}

main ol li {
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
}

.global-footer ul {
  padding: 0;
  list-style-type: none; /*for removing bullets*/
}

@include tablet {
  .masthead ol {
    font-size: 1.8em;
  }
  main ol {
    font-size: 3em;
  }
}

@include desktop {
  .masthead ol {
    font-size: 2.2em;
  }
  main ol {
    font-size: 3.6em;
  }
}