/* logo */
.logo {
  letter-spacing: 0.1rem;
  word-spacing: -0.2rem;
  white-space: nowrap;
}

.logo span {
  font-size: $pulse;
  font-weight: bold;
  color: $black;
}

/* for deleting the underline of the link*/
.logo a {
  text-decoration: none;
  font-size: inherit;
}

/* for making 'em' in normal style and blue*/
.logo em {
  font-style: normal;
  color: $blue;
}

.global-footer .logo span {
  color: $white;
}
