/* logo */
.logo {
  letter-spacing: 0.1rem;
  word-spacing: -0.2rem;
  white-space: nowrap;

  flex: 1 0 10em;
}

.logo span {
  font-size: $pulse;
  font-weight: bold;
  color: $black;
}

/* for deleting the underline of the link*/
.logo a {
  text-decoration: none;
  font-size: inherit;
  display: flex;
}

/* for making 'em' in normal style and blue*/
.logo em {
  font-style: normal;
  color: $blue;
}

.global-footer .logo span {
  color: $white;
}

main ol .logo {
  flex: none;
}

main ol .input {
  box-shadow: none;
  padding: 0;
}

main ol .content-wrapper {
  padding: 0;
}

