/* navigation */
.global-nav {
  display: flex;
  padding: 0;
  float: right;
  align-items: center;
}

.global-nav > li {
  list-style-type: none;
  float: left;
  padding: 0;
  margin-left: $pulse;
}

.global-nav > li:last-child {
  margin-right: 2em;
}

main .global-nav li:last-child img {
  display: initial;
}

main .global-nav li:last-child a {
  color: transparent; 
}

.global-nav li a {
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}



@include tablet{
  .global-nav li:first-child {
    margin-left: 0;
  }
}

@include phone {
  main .global-nav li:last-child img {
    display: none;
  }
  main .global-nav li:last-child a {
    color: $gray-1;
  }
}
