// for complete forms
.alert {
  display: none;
  color: $red;
}

.display-in-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display-in-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-one-row{
  align-items: center;
}

.second-column {
  position: relative;
  left: 45%;
  margin-top: 0;
}

.space-between {
  flex: 1 0 10em;
  justify-content: space-between;
}

.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-file {
  display: flex;
  flex: 1 0 10em;
  &:hover,
  &:active,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

.input-file input[type="file"] {
  display: none;
}

.input-file::-webkit-file-upload-button {
  visibility: hidden;
}

.input-file::before {
  content:'CHOOSE FILE';

  display: flex;
  justify-content: center;
  flex: 1 0 10em;

  font-size: 1.3rem;
  padding: $pulse;

  border: 1px solid $gray-4;
  border-radius: 3px;

  outline: none;
  white-space: nowrap;
  cursor: pointer;  
}

.flex-end{
  justify-content: flex-end;
}

li .global-header {
  margin-bottom: 0;
}

@include phone{
  .display-in-row{
    flex-direction: column;
    align-items: unset;
  }
  
  .form-item{
    align-items: unset;
    flex-direction: column;
  }

  .form-item .space-between{
    flex: 1 0 3em;
  }
  
  .form-item .space-between .second-column {
    position: unset;
    flex-direction: row;
    margin-top: 0;
  }

  .form-item .space-between .checkbox{
    margin: 0;
    align-items: center;
    flex-direction: row;
  }
  .input-file{
    flex: 1 0 2em;
    margin: 0;
  }
  .checkbox{
    flex-direction: row;
  }
  .display-in-row textarea {
    flex: 1 0 5em;
  }
  .in-one-row{
    flex-direction: row;
    align-items: center;
  }
}