/* typography*/
p, ul, ol, label {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-weight: normal;
}

h1,
.alpha {
 font-size: 3.6rem;
 line-height: 1.2;
 color: $black;
}

h2,
.beta {
 font-size: 2.8rem;
 line-height: 1.2;
 color: $black;
}

h3,
.gamma {
 font-size: 2.4rem;
 line-height: 1.2;
 color: $black;
}

h4,
.delta {
 font-size: 1.3rem;
 line-height: 1.5;
 color: $gray-1;
 text-transform: uppercase;
}

h5,
.epsilon {
 font-size: 1.4rem;
 line-height: 1.4;
 color: $gray-1;
}

h6,
.zeta {
 font-size: 1.2rem;
 line-height: 1.4;
 color: $gray-1;
}

/* I have describe in 'font-weight' for bold and 
'font-style' for italic 
when we want to use them together as 
'bold italic', we will be able to use it together*/
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.masthead h1 {
  margin-left: inherit;
  margin-bottom: 1em;
}

/*<li>Typography
            <div>
              <div class="typography-glyph">
                <h6>GLYPH</h6>
                <h1>Aa</h1>
              </div>
              <div>
                <div class="typography-weights">
                  <h6>WEIGHTS</h6>
                  <p>Regular</p>
                  <p>Regular Italic<p>
                  <p>Bold</p>
                  <p>Bold Italic<p>
                </div>
              </div>
            </div>


          </li>*/
.typography-content {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.typography-glyph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}

.typography-glyph h1 {
  margin-bottom: 0;
  font-size: 5em;
}

.typography-weights {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typography-weights p {
  margin: 0;
  font-size: 0.8em;
}

.typography-details {
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.typography-details-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  border-bottom: solid 1px $gray-1;
  line-height: 1.6;
}

.first-child {
  flex-basis: 45%;
  margin: 0;
}

.other-childs {
  flex-basis: 12%;
  white-space: nowrap;
  text-align: left;
  margin: 2em 0;
}


// tablet screen size
@include tablet {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
}

// desktop screen size
@include desktop {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.8rem;
  }
}