/* typography*/
p, ul, ol, label {
  font-size: 1.5rem;
}

a {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-weight: normal;
}

h1,
.alpha {
 font-size: 3.6rem;
 line-height: 1.2;
 color: $black;
}

h2,
.beta {
 font-size: 2.8rem;
 line-height: 1.2;
 color: $black;
}

h3,
.gamma {
 font-size: 2.4rem;
 line-height: 1.2;
 color: $black;
}

h4,
.delta {
 font-size: 1.3rem;
 line-height: 1.5;
 color: $gray-1;
 text-transform: uppercase;
}

h5,
.epsilon {
 font-size: 1.4rem;
 line-height: 1.4;
 color: $gray-1;
}

h6,
.zeta {
 font-size: 1.2rem;
 line-height: 1.4;
 color: $gray-1;
}

/* I have describe in 'font-weight' for bold and 
'font-style' for italic 
when we want to use them together as 
'bold italic', we will be able to use it together*/
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.masthead h1 {
  margin-left: inherit;
  margin-bottom: 1em;
}

// tablet screen size
@include tablet {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  a{
    font-size: 1.4rem;
  }
}

// desktop screen size
@include desktop {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  a{
    font-size: 1.6rem;
  }
}