// colors
$white: #fff;
$black: #192127;
$blue: #2c9cf2; // Blue
$red: #e25d43; // Red
$gray-1: #72797e; // Darkest gray
$gray-2: #afbac4;
$gray-3: #bbc1c6;
$gray-4: #e3e5e9;
$gray-5: #f7f9fc; // lightest gray

// sizes
$base-line-height: 1.6;
$pulse: $base-line-height * 1rem;
